<% layout('layouts/boilerplate') %>

    <h1>
        Edit Campground <%= campground.title %>
    </h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Campground Name: </label>
            <input type="text" name="campground[title]" id="title" value="<%= campground.title %>">
        </div>
        <div>
            <label for="location">Campground Location: </label>
            <input type="text" name="campground[location]" id="location" value="<%= campground.location %>">
        </div>
        <button>Save</button>
        <footer>
            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                <button>Delete Campground</button>
            </form>
            <a href="/campgrounds/<% campground._id %>">Back to Campground</a>
        </footer>
    </form>
